* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

  /* background-color: #3A3B3C;
  color: white; */
}

a {
  color: inherit;
  text-decoration: none;
}


/* Custom */

nav {
  display: flex;
  padding: 10px 0;
  justify-content: flex-start;
  align-items: flex-start;
}

nav a {
  margin-right: 0.5em;
}

#toggle-post-form-btn {
  text-align: center;
}

#toggle-post-form-btn button{
  font-size: 1.5rem;
}

/* Catalog */
.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 2rem;
  margin: 1rem;
}

.post-card {
  text-align: center;
}

.post-meta {
  font-size: 0.8rem;
  cursor:help;
  /* font-weight: 700; */
}

.reply-count, .image-count {
  font-weight: 700;
}



.post-subject {
  font-weight: 700;
  color: blue;
}

/* Post*/
.post-author {
  font-weight: 700;
  color: green;
}



/* Dropzone */

.container p {
    color: red;
    text-align: center;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 800px;
    height: 200px;
    border: 4px dashed #4aa1f3;
}

.upload-icon {
    width: 50px;
    height: 50px;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.drop-message {
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: 20px;
}

/* post */
.post-id a:hover {
  color: red;
}

.quotelink {
  color: red;
  text-decoration: underline;
  
  position: relative;
}

.backlink .quotelink:hover {
  color:red;
}

.backlink .quotelink {
  font-size: 0.8rem;
  margin-left: .2rem;
}

/* forms */

form:not(#search-form) {
  margin: 1rem;
  padding: 1rem;
  max-width: 50%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 0.3rem;
  grid-column-gap: 1rem;
  /* flex-basis: 50%; */
}

/* Control bar */
#control-bar {
  display: flex;
  margin: 1rem;
}

/* Search container */
#search-container {
  position: relative;
}

/* Search form */
.search-suggestion-container {
  background-color: white;
  border-radius: 0 0 12px 12px;
  border-color: black;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-suggestion:last-child {
  padding-bottom: 6px;
  border-radius: 0 0 12px 12px;
}

.search-suggestion {
  cursor: pointer;
}

.search-suggestion:hover {
  background-color: lightgray;
}


.post {
    /* float image inside div hack */
    overflow: hidden;

    margin: 0.5rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    transition: color 0.15s ease, border-color 0.15s ease;
    /* max-width: 70%; */
    max-width: max-content; 
}

.post-id a {
  cursor: pointer;
}

.preview {
  background-color: white;
  position: absolute;
  /* position: relative; */
  transform: translateY(-50%);
  z-index: 9999;
}

/* Notification Component */
.notification {
    color: white;
    background-color: #282828;
    border-radius: 5px;
    padding: 10px;
    z-index: 9999;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
